<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
<body>

    

        <h2>Log In</h2>
         <form id="loginForm" method="POST" action="/api/users/login">
          

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>

                <input type="password" id="password" name="password" required><br><br>
                <div id="error" style="color: red;"></div>
                <input type="submit" value="Log In">
        </form>
          

         <!-- Redirect to main task page after successful login -->
        <script src="/js/login.js"></script>

</body>
</html>
